.header {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px 40px;
    background: rgb(213, 216, 226);
    bottom: 20px;    
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; /* Adds space below the title */
    padding-right: 4%;
}

.logo img {
    height: 50px; /* Adjust according to logo size */
}




.initiative {
    font-size: 16px;
    color: #6a5353;
}

.ministry {
    font-size: 18px;
    font-weight: bold;
    color: rgb(48, 34, 34);
}

.mission {
    font-size: 16px;
    color: #5b3c3c;
}

.ict {
    color: rgb(155, 94, 94);
    font-weight: bold;
}

.search-bar {
    position:absolute;
    right: 7.5%;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
h1{
    color: rgb(118, 118, 69);
    
}
